#saveManager {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	gap: 2%;
	justify-content:start;
}

#worldMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 15%;
	/* max-height: 200px; */

	* {
		width: 75%;
	}
}

.worldInfoCardContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: 55%;

	.worldInfoCardScrollArea {
		width: 75%;
		height: 100%;
		overflow-y: auto;
		background-color: color-mix(in srgb, var(--theme-950) 20%, transparent);
		

		.worldInfoCard {
			width: 94%;
			margin: 2%;
			background-color: color-mix(in srgb, var(--theme-700) 20%, transparent);
			display: flex;
			justify-content: space-between;
			gap: 2%;
			padding: 1%;

			.buttonContainer {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				min-width: 20%;
				min-height: 80%;
				* {
					width: 100%;
					button {
						width: 100%;
					}
				}
			}
		}

		.worldInfoCard:nth-child(even) {
			background-color: color-mix(in srgb, var(--theme-950) 20%, transparent);
		}
	}

	
}

.wicWorldName {
	font-size: x-large;
}

.wicFilePath {
	color: grey;
}


/* Minimum height allowed by our ElectronJS main.js file: */
@media (max-height: 560px) {
	.worldInfoCardContainer {
		height: 22.5%;
	}
}
