.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.settingsContainer {
	margin: 1%;
	width: 85%;
	background: linear-gradient(to right, var(--theme-950), color-mix(in srgb, var(--theme-950) 20%, transparent));
	min-height: 350px;
	font-size: x-large;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	

	.settingsTitle {
		align-self: start;
		margin: 15px;
		font-size: x-large;
	}
	

	.settingsFields {
		width: 90%;
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		div {
			margin: 5px;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			.customButton, .customLink {
				width: 25%;
			}
		}
	}
}

/* button {
	padding: 0.5%;
	margin: 0.5%;
	font-size: x-large;
} */

p {
	white-space: pre-line;
}

